body{
    background-image: url(https://img.wallpapersafari.com/desktop/800/450/0/30/bMmkWR.png);
    font-family: cursive;
}
h1{
    color: royalblue;
    font-size: larger;
    text-align: center;
}
p{
    color: rgb(33, 107, 245);
}
button{
    padding: 10%;
    color: blue;
    size: 5px;
    border: 5px;
    background-color: salmon
}
