body{
    background-image: url(https://coolbackgrounds.io/images/unsplash/samuel-zeller-medium-b832fe04.jpg);
}
h1{
    color: cyan;
    font-size: larger;
}
p{
    color: chocolate;
}
img{
    size: 300px;
    border: 5px;
}
