body{
    background-image: url(https://img.wallpapersafari.com/desktop/800/450/0/30/bMmkWR.png);
    font-family: fantasy;
}
h1{
    color: greenyellow;
    font-size: larger;
    text-align: center;
}
p{
    color: greenyellow;
}
button{
    padding: 10%;
    color: blue;
}